<div class="vertical-center">
    <div class="container">
        <h1>Something Here</h1>
        <hr>
        <div class="intro">
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta
                test. Override the digital divide with additional clickthroughs from DevOps.
                Nanotechnology immersion along the information highway will close the loop on
                focusing solely on the bottom line.</p>
            <p>Podcasting operational change management inside of workflows to establish a
                framework. Taking seamless key performance indicators offline to maximise the long
                tail. Keeping your eye on the ball while performing a deep dive on the start-up
                mentality to derive convergence on cross-platform integration.</p>
        </div>

        <div class="buttons">
            <a ui-sref="eligibility-check" class="btn btn-default btn-lg">Check Eligibility</a>&emsp;<a
                ui-sref="transaction-status" class="btn btn-default btn-lg">Transaction Status</a>
        </div>
    </div>
</div>